body {
    padding: 0;
    margin: 0;
}
html, body, #app-container, #map {
	height: 100%;
	width: 100%;
}



/*
 * GUI
 */


#map {
 	position: absolute;
}

 #gui {
 	z-index: 1000;
 	position: relative;

 	width: 100%;
 	height: 100%;
    /*-moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box;     
    box-sizing: border-box; 
 	padding: 10px 10px 10px 10px;*/
 }

 #app-container {
 	height: 100%;
 }

 .link {
 	visibility: none;
 }

 .gui-layer {
 	z-index: 1000;
 	position: relative;
 	overflow: hidden;

 	pointer-events: none;

 	margin: 0;
 	padding: 0;

 	width: 100%;
 	height: 100%;
 }

 .gui-layer * {
 	pointer-events:all;
 }


 .gui-btn-holder {
 	width: 80px;
 	height: 80px;
 }

 .gui-btn-holder img {
 	width: 100%;
 	height: auto;
 }

 .gui {
 	position: absolute;
 }

 .gui.bottom {
 	bottom: 10px;
 }

 .gui.right {
 	right: 10px;
 }

 .gui.left {
 	left: 10px;
 }

 .gui.top {
 	top: 10px;
 }


 .hidden-right {
 	left: 100%;
 }

 .hidden-bottom {
 	top: 100%;
 }

 .fullscreen {
 	height: 100%;
 	width: 100%;
 }

 .menu {
 	z-index: 200;

 	background: white;
 	border: 1px solid #ddd;
 }

 .menu-header {
 	min-height: 50px;
 	background: #337ab7;
 	color: white;
 }

 .menu-header a {
 	text-decoration: none;
 	text-align: center;
 	color: inherit;
 }

 .menu-header span {
 	padding-left: 20px; 
 }

 .menu-body {
 	margin: 10px 15px 0px 15px;
 }

 .logo-holder {
 	width: 40%;
 }

 .logo-holder img {
 	width: 100%;
 	height: auto;
 }

 #menugui img {
 	width: 90%;
 	height: auto;
 	margin: 20px 20px;
 }
/*
 .menu-header .return {
 	text-decoration: none;
 	color: white;
 	font-size: 3em;
 }

 .menu-header h1 {
 	padding-top: 10px;
 	padding-bottom: 10px;
 	font-size: 2em;
 }
 */
/*
 .menu form .submit {
 	margin-top: 10px;
 	margin-left: 5%;
 	width: 90%;
 	height: 50px;
 	background: #0080FF;
 	color: white;
 	font-size: 2em;
 	border: none;
 }*/